In [3]:
import pandas as pd

In [9]:
df=pd.read_csv('score.txt', sep='\t')

In [10]:
df

   지원번호   이름    키   학교
0     0  채치수  197  북산고
1     1  정대만  184  북산고
2     2  송태섭  160  북산고
3     3  서태웅  178  북산고

In [21]:
df = pd.read_csv('score.txt', sep='\t', index_col='지원번호')

In [22]:
df

       이름    키   학교
지원번호
0     채치수  197  북산고
1     정대만  184  북산고
2     송태섭  160  북산고
3     서태웅  178  북산고

In [25]:
df.set_index(columns=['1번', '2번', '3번', '4번'])

TypeError: set_index() got an unexpected keyword argument 'columns'